/* ==========================================
   NAVBAR
========================================== */

.navbar{
  position:sticky;
  top:0;
  z-index:1000;

  background:rgba(255,255,255,.9);

  backdrop-filter:blur(20px);

  border-bottom:1px solid var(--border);
}

.navbar-container{

  height:90px;

  display:flex;

  align-items:center;

  justify-content:space-between;

}

.logo{

  font-size:2rem;

  font-weight:800;

  color:var(--primary);

}

.nav-links{

  display:flex;

  gap:2rem;

  align-items:center;

}

.nav-links a{

  color:var(--text-light);

  font-weight:500;

  transition:.3s;

}

.nav-links a:hover,
.nav-links .active{

  color:var(--accent);

}

.cv-button{

  background:var(--accent);

  color:white;

  padding:14px 28px;

  border-radius:50px;

  font-weight:600;

  transition:.3s;

}

.cv-button:hover{

  transform:translateY(-3px);

}

.menu-toggle{

  display:none;

  background:none;

  border:none;

  cursor:pointer;

  font-size:2rem;

}

.mobile-menu{

  display:none;

}

@media(max-width:992px){

  .nav-links,
  .cv-button{

      display:none;

  }

  .menu-toggle{

      display:block;

  }

  .mobile-menu.active{

      display:flex;

      flex-direction:column;

      gap:1.5rem;

      padding:2rem;

      background:white;

      border-top:1px solid var(--border);

  }

  .mobile-cv{

      background:var(--accent);

      color:white;

      text-align:center;

      padding:14px;

      border-radius:15px;

  }

}