:root{

  --primary:#0F172A;

  --secondary:#1E293B;

  --accent:#2563EB;

  --white:#FFFFFF;

  --light:#F8FAFC;

  --dark:#0F172A;

  --text-light:#64748B;

  --border:#E2E8F0;

  --shadow-sm:
      0 4px 12px rgba(0,0,0,.05);

  --shadow-md:
      0 10px 30px rgba(0,0,0,.08);

  --shadow-lg:
      0 20px 60px rgba(0,0,0,.12);

}